body{
  background-color: rgb(166, 241, 178);
}
.flex-container {
  display: flex;
  height: 600px;



  flex-direction: column; 

   justify-content: center;
   align-items: center;
 
}

.flex-container > div {

  /* color: white; */
  /* width: 100px; */
  margin: 10px;
  text-align: center;
  line-height: 2;
  
 
}
/* .block{
  padding:10px;
  display: block!important;
} */
.input--style{
  width: 100%;
  height: 30px;
  padding: 10px;
            
}
ul {
  list-style-type: none;
  padding: 1px;
}