



<div >
  <label class="bolck">Book Name<input  type="text" name="book" class="book"><i class="fas fa-check-circle correct"></i><i class="fas fa-times wrong"></i></label>

<label class="bolck">Mobile<input type="number" name="mobile" class="mobile"><i class="fas fa-check-circle  correct1"></i><i class="fas fa-times wrong1"></i></label>

<label class="bolck">fullName<input class="name" type="text" name="fullName"  vlaue=""></label>
<label class="bolck">email<input class="email" type="text" name="email"  vlaue=""></label>
 <label class="bolck">start date:<input id="start" type="date" class="startDate"></label>
  <label class="bolck"> end date:<input id="end" type="date" class="endDate"></label>

<input  class = "lend" type="submit" value="lend">
</div>

<div class="msg"></div>

